.container {
  max-width: 800px;
}

article.tweet{
  background-color: transparent;
  border: 2px solid #545149;
  margin: 20px 0px;
  padding: 5px;
}

article.tweet:hover {
  transition: box-shadow .3s;
  box-shadow: 0 0 0.5em #545149; 
}

article.tweet header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  background-color: transparent;
  margin: 10px;
  }

article.tweet header h3{
  font-weight: lighter;
  margin: 10px;
  display: flex;
  align-items:center;
  }
  article.tweet header h3 img{
    margin: 0 15px 0 0;

    }

.userHandle {
  color: #4056A1;
  }

article.tweet p{
  display: flex;
  margin: 10px;
  padding: 20px 10px 5px 10px;
  border-bottom: 4px solid #545149; 
  font-weight: 600;
  overflow-wrap: anywhere;
}

article.tweet footer{
  color: #545149;
  font-size: small ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:baseline;
  padding: 5px 20px;
}
article.tweet footer ul{
  color:#4056A1;
  margin: 0;
}
article.tweet footer ul i:hover{
  color:goldenrod;
  cursor: pointer;
}

